@page
@model IndexModel
@{
    ViewData["Title"] = "List of all posts";
}

<div>
    @foreach (var post in Model.listOfPosts)
    {
        <p>
            <text>Post ID: @post.postID</text><br>
            <text>User ID: @post.userID</text><br>
            <text>Title: @post.title</text><br>
            <a href='@string.Format("/PostDetails?id={0}", post.postID)'>Show Post Content</a>
        </p>
    }
</div>