@page
@model IndexModel
@{
    ViewData["Title"] = "List of all posts";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<br>

@foreach (var post in Model.listOfPosts)
{
    <div>
        <a href='@string.Format("/PostDetails?id={0}", post.postID)'>Open</a>
        <text>post @post.title</text>
        <text>(Posted by user @post.userID)</text>
    </div>
    <br>
}